html {
  background-color: black;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

.link {
  color: black;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  font-size: x-large;
}

.link:hover {
  font-weight: bold;
}

.link-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.pretty-box {
  display: flex;
  align-items: center;
  background-color: pink;
  border-radius: 15px;
  margin-bottom: 20px;
  text-align: center;
  height: 100px;
  width: 100%;
}

